In [2]:
from pyspark.sql import SparkSession as SparkS

In [3]:
spark = SparkS.builder.appName('Basics').getOrCreate()

21/10/18 15:54:55 WARN Utils: Your hostname, xtian-pc resolves to a loopback address: 127.0.1.1; using 192.168.1.39 instead (on interface enp5s0)
21/10/18 15:54:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/xtian/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/18 15:54:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/10/18 15:54:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
21/10/18 15:54:56 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
21/10/18 15:54:56 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
21/10/18 15:54:56 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [4]:
df = spark.read.json('people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

How to create a new schema for your data if spark can't detect proper fields

In [14]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [15]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [16]:
final_struct = StructType(fields=data_schema)

In [17]:
df = spark.read.json('people.json', schema=final_struct)

In [18]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [23]:
df.select('age')

DataFrame[age: int]

In [24]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [31]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [32]:
df.head(2)[0]

Row(age=None, name='Michael')

In [34]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [41]:
#Add column
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [42]:
#Rename
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [43]:
df.createOrReplaceTempView('people')

In [46]:
results = spark.sql("SELECT * FROM people WHERE age=30")

In [50]:
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+